---
layout: default
title: Schedule
permalink: /schedule/
---

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/fc98/_images/DS_favicon.png">

    <title>Fundamentals of Computer Programming: Schedule</title>
    <meta name="description" content="Instructor: Sauleh Eetemadi
    ">

    <link rel="stylesheet" href="/fc98/_css/main.css">
    <link rel="canonical" href="http://sauleh.github.io/fc98/fc98/schedule/">
    <link rel="alternate" type="application/rss+xml" title="Iran University of Science and Technology"
        href="http://sauleh.github.io/fc98/fc98/feed.xml">
    <link rel="stylesheet" id="open-sans-css"
        href="//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.2.4"
        type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600italic,600,400,400italic" rel="stylesheet"
        type="text/css">





    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-139110197-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-139110197-4');
    </script>



</head>


<div class="home">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Course Material</div>
        </li>
        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted reversed %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                01 - Intro
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
     
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                02 - Intro_Algorithm_applications
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
     
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                03 - Insertion_sort
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                04 - CostAnalysis
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                05 - Divide_and_Conquer_MergeSort
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
     
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                06 - MasterMethod
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                07 - dataTypes
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                08 - LinkedList
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
     
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                09 - Queue
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                10 - Stacks
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                11 - Trees
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                12 - Heap
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                13 - BinarySearchTree
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                14 - Hash Function
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">0_Hash Function.pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                15 - Sorting_Insertion_SelectionSort
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                16 - Sorting_BubbleSort
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                17 - Sorting_Merge_Heap_Sort
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                18 - Sorting_QuickSort
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                19 - Sorting_LinearSorting
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                20 - DynamicProgramming
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                21 - DynamicProgramming_CYK_ProjDef
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                22 - DynamicProgramming_LCS_
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                23 - Greedy Algorithms
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                24 - Graph_Intro_Net
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                25 - Graph_General
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                26 - MinimumSpanningTree
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                27 - ShortestPath
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
    
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>
        <li class="table-row table-row-lecture">
            <div class="col col-1" data-label="Event">Lecture</div>
            <div class="col col-1-2" data-label="Date">
                {% comment %} 2020-01-01 03:30:00 +0000
                <br class="date-spliter">Wednesday {% endcomment %}
            </div>
            <div class="col col-2" data-label="Description">
                28 - RedBlackTree
                <div class="schedule-lecture-links">
                    <div>




                        [<a title="Download pdf (pdf)" href="
     
    ">pdf</a>]











                    </div>

                </div>
            </div>
            <div class="col col-4" data-label="Course Material">





            </div>
        </li>




    </ul>
</div>

</html>